[Unit]
Description=Pearson VPN Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/pvs/pvs
WorkingDirectory=/usr/bin/pvs
User=root
Group=root
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
