Package: pvs
Version: 1.6.0
Section: net
Priority: optional
Architecture: amd64
Depends: openvpn, resolvconf, dnsutils, iputils-ping
Maintainer: Chris Pearson <chris@nerdexecutive.com>
Homepage: https://www.nerdexecutive.com
Description: A program that manages openvpn connections to ExpressVPN
